body{
    font-size: 25px;


}
.image{
    height: 700px;
       width: 700px;
}

@media (max-width : 1024px){

    .image{
        height: 300px;
        width: 300px;

    }


}@media (max-width : 450px){

    .image{
        height: 200px;
        width: 200px;
        
    }
}